Repository jayjnu/dart-node-sdk, pull requests merged in 2021-06, with the labels that each got.

#4 chore: create scaffold directories
  src/lib/api/.gitkeep
  src/lib/fs/.gitkeep
  src/lib/model/.gitkeep
  src/lib/request/.gitkeep
  src/lib/response/.gitkeep
Labels: chore

#7 build(tools): implement code generator
  CONTRIBUTING.md
  package-lock.json
  package.json
  tools/generator/api/templates/__moduleName__.api.spec.ts__tpl__
  tools/generator/api/templates/__moduleName__.api.ts__tpl__
  tools/generator/generator.ts
  tools/scripts/generate.ts
  tools/utils/template.spec.ts
  tools/utils/template.ts
  tools/utils/workspace.spec.ts
  tools/utils/workspace.ts
  tsconfig.json
  workspace.json
Labels: tools

#8 feat(api): init company api with api typings
  src/lib/api/company.api.spec.ts
  src/lib/api/company.api.ts
Labels: api

#14 build: add module alias
  babel.config.js
  package-lock.json
  package.json
  tsconfig.json
Labels: build

#12 feat(util): add got as core http client
  package-lock.json
  package.json
  src/lib/api/company.api.ts
  src/lib/util/http.util.ts
Labels: api, util

#16 refactor(tools): update http dependency boilerplate code
  tools/generator/api/templates/__moduleName__.api.ts__tpl__
  tools/utils/template.ts
Labels: tools

#9 feat(api): init list api with api typings
  .gitignore
  src/lib/api/helper/HttpClient.ts
  src/lib/api/list/list.api.spec.ts
  src/lib/api/list/list.api.ts
Labels: api

#20 test: setup msw with jest environment
  babel.config.js
  jest.config.js
  jest.setup.ts
  package-lock.json
  package.json
  src/mocks/handlers/company.ts
  src/mocks/handlers/index.ts
  src/mocks/server.ts
Labels: test

#21 feat(api): company api 구현 외 빌드환경 수정
  package.json
  src/lib/api/company.api.spec.ts
  src/lib/api/company.api.ts
  src/mocks/data/company.ts
  src/mocks/handlers/company.ts
  tsconfig.build.json
  tsconfig.json
Labels: api, build, test

#23 feat(api): corpCode api 기본 기능 개발 완료
  babel.config.js
  jest.config.js
  package-lock.json
  package.json
  src/lib/api/company.api.ts
  src/lib/api/corp-code.api.spec.ts
  src/lib/api/corp-code.api.ts
  src/lib/util/object.util.spec.ts
  src/lib/util/object.util.ts
  src/lib/util/xml-handler.util/XMLHandler.spec.ts
  src/lib/util/xml-handler.util/XMLHandler.ts
  src/lib/util/xml-handler.util/XMLHandlingProcess.ts
  src/lib/util/xml-handler.util/XMLUnzipper.ts
  src/lib/util/xml-handler.util/index.ts
  src/mocks/data/corpCode-xml.json
  src/mocks/data/corpCode.xml.zip
  src/mocks/handlers/company.ts
  src/mocks/handlers/corpCode.ts
  src/mocks/handlers/index.ts
Labels: api, util

#25 feat(api): implment document api
  src/lib/api/document.api.spec.ts
  src/lib/api/document.api.ts
  src/mocks/data/document.xml.zip
  src/mocks/handlers/document.ts
  src/mocks/handlers/index.ts
Labels: api

#26 feat(api): list api
  src/lib/api/company.api.ts
  src/lib/api/list.api.spec.ts
  src/lib/api/list.api.ts
  src/lib/api/list/list.api.spec.ts
  src/lib/api/list/list.api.ts
  src/mocks/data/list.ts
  src/mocks/handlers/index.ts
  src/mocks/handlers/list.ts
Labels: api, test

#32 feat(chore): fix warning code
  src/lib/api/corp-code.api.ts
  src/lib/util/xml-handler.util/XMLUnzipper.ts
  tools/generator/generator.ts
Labels: chore
