Repository jayjnu/dart-node-sdk, pull requests merged in 2021-07, with the labels that each got.

#33 feat(api): httpClient 재설계
  src/lib/Dart.ts
  src/lib/api/company.api.spec.ts
  src/lib/api/company.api.ts
  src/lib/api/corp-code.api.spec.ts
  src/lib/api/corp-code.api.ts
  src/lib/api/document.api.spec.ts
  src/lib/api/document.api.ts
  src/lib/api/helper/HttpClient.ts
  src/lib/api/list.api.spec.ts
  src/lib/api/list.api.ts
  src/lib/api/type.ts
  src/lib/util/http.util.ts
  src/mocks/handlers/list.ts
Labels: api, enhancement, util

#34 build(tools): add model generator template
  tools/generator/model/templates/__moduleName__.model.spec.ts__tpl__
  tools/generator/model/templates/__moduleName__.model.ts__tpl__
Labels: build, model

#35 test(model): CorpCodeModel 기본기능 명세 작성
  src/lib/model/corp-code.model.spec.ts
  src/lib/model/corp-code.model.ts
Labels: model, spec, test

#36 feat(model): implement CorpCodeModel.getCorpByName
  src/lib/model/corp-code.model.spec.ts
  src/lib/model/corp-code.model.ts
Labels: model

#38 refactor(util): use extended got instance for searchParams
  src/lib/util/http.util.ts
Labels: util
